---
import BrandLogo from "../../components/BrandLogo.astro";
import PartnersCard from "../../components/PartnersCard.astro";

const partners = [
  {
    src: "/images/partners/target.png",
    alt: "Target",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/walmart.png",
    alt: "Walmart",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/amazon.png",
    alt: "Amazon",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/costco.png",
    alt: "Costco",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/hurley.png",
    alt: "Hurley",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/levis.png",
    alt: "Levis",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/sams.png",
    alt: "Sams",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/bjs.png",
    alt: "Bjs",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/hurlington.png",
    alt: "Hurlington",
    backgroundSrc: "/images/hover-card-bg.png",
  },
  {
    src: "/images/partners/penny.png",
    alt: "Penny",
    backgroundSrc: "/images/hover-card-bg.png",
  },
];
---

<section>
  <div
    class="container mx-auto flex flex-wrap gap-8 px-6 py-14 md:gap-16 md:px-0 md:py-24"
  >
    <!-- Top title content -->
    <div class="flex w-full flex-col gap-1 md:gap-3">
      <!-- Prefix text -->
      <p class="text-2xl font-light tracking-widest uppercase md:text-4xl">
        The
      </p>
      <div class="flex flex-col gap-4 md:gap-9">
        <div class="flex items-baseline gap-3 md:gap-5">
          <!-- Brand logo -->
          <BrandLogo variant="default" classes="w-38 md:w-88 lg:w-76" />
          <!-- Asile text -->
          <p class="text-2xl leading-0 font-normal tracking-widest md:text-4xl">
            Aisle
          </p>
        </div>
        <!-- Sub text -->
        <p class="text-xl font-normal md:text-3xl">
          This is where our Designs live
        </p>
      </div>
    </div>

    <!-- Brand Partners wrapper -->
    <div class="flex flex-wrap justify-center">
      {
        partners.map((partner) => (
          <PartnersCard
            src={partner.src}
            alt={partner.alt}
            backgroundSrc={partner.backgroundSrc}
          />
        ))
      }
    </div>
  </div>
</section>
