---
import BrandLogo from "../../components/BrandLogo.astro";
import ComparisonCard from "../../components/ComparisonCard.astro";

const items = [
  {
    icon: "/icons/dollar.svg",
    title: "Costs",
    negativePoint: "Hidden costs - benefits, space, hardware not included",
    positivePoint: "Costs are inclusive (Salaries, space, tools etc)",
  },
  {
    icon: "/icons/downtime.svg",
    title: "Time",
    negativePoint: "Hiring takes months",
    positivePoint: "StylSmyth can start within days",
  },
  {
    icon: "/icons/hand-cash.svg",
    title: "Skills",
    negativePoint: "Limited to your local hiring pool",
    positivePoint: "Access to wide talent network",
  },
  {
    icon: "/icons/file.svg",
    title: "Costs",
    negativePoint: "Hidden costs - benefits, space, hardware not included",
    positivePoint: "Costs are inclusive (Salaries, space, tools etc)",
  },
  {
    icon: "/icons/attrition.svg",
    title: "Time",
    negativePoint: "Hiring takes months",
    positivePoint: "StylSmyth can start within days",
  },
  {
    icon: "/icons/graph.svg",
    title: "Skills",
    negativePoint: "Limited to your local hiring pool",
    positivePoint: "Access to wide talent network",
  },
];
---

<section class="bg-n-50">
  <div
    class="container mx-auto flex flex-col gap-8 px-6 py-12 md:gap-14 md:py-24"
  >
    <div class="w-full space-y-6 md:space-y-12 lg:space-y-14">
      <div>
        <p class="text-2xl font-light tracking-widest uppercase md:text-4xl">
          The
        </p>
        <div class="flex items-baseline gap-3 md:gap-5">
          <!-- Brand logo -->
          <BrandLogo variant="default" classes="w-38 md:w-88 lg:w-76" />
          <!-- Asile text -->
          <p class="text-2xl leading-0 font-normal tracking-widest md:text-4xl">
            Aisle
          </p>
        </div>
      </div>
      <p class="text-3xl leading-20 font-normal md:text-6xl">
        We’re fast, flexible, and easy to work with — no fluff, just thoughtful,
        sharp execution.
      </p>
      <!-- Section sub header -->
      <div class="space-y-1 lg:space-y-2">
        <p class="text-n-950 text-xl leading-tight font-medium md:text-4xl">
          Why Outsource to StylSmyth?
        </p>
        <p class="text-n-950 text-sm font-normal md:text-2xl">
          Here's how we stack up against an in-house team.
        </p>
      </div>
    </div>

    <!-- Comparison Grid -->
    <div class="grid gap-8 xl:grid-cols-2">
      {
        items.map((item) => (
          <ComparisonCard
            icon={item.icon}
            title={item.title}
            negativePoint={item.negativePoint}
            positivePoint={item.positivePoint}
          />
        ))
      }
    </div>
  </div>
</section>
