---
import ComparisonCard from "../../components/ComparisonCard.astro";
---

<section class="bg-n-50 px-6 py-12">
  <div class="mx-auto max-w-7xl">
    <!-- Section Header -->
    <div class="mb-16">
      <h2 class="text-n-950 mb-4 text-5xl leading-tight font-medium">
        Why Outsource to StylSmyth?
      </h2>
      <p class="text-n-950 text-2xl">
        Here's how we stack up against an in-house team.
      </p>
    </div>

    <!-- Comparison Grid -->
    <div class="grid gap-8 lg:grid-cols-2">
      {
        [
          {
            icon: (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="41"
                height="48"
                viewBox="0 0 41 48"
                fill="none"
              >
                <path
                  d="M25.3779 0.43457L25.5352 0.442383C25.898 0.478469 26.2389 0.638434 26.498 0.896484L38.7715 13.1152C39.0676 13.41 39.2332 13.8094 39.2334 14.2246V43.5508C39.2333 44.6142 38.8092 45.6355 38.0527 46.3887C37.2961 47.1418 36.2689 47.5654 35.1973 47.5654H5.74023C4.6686 47.5654 3.64146 47.1418 2.88477 46.3887C2.12824 45.6355 1.70322 44.6142 1.70312 43.5508V4.44922L1.70801 4.25C1.75747 3.25887 2.17553 2.31741 2.88477 1.61133C3.64146 0.858242 4.6686 0.43457 5.74023 0.43457H25.3779ZM39.0674 46.5547C38.9473 46.708 38.8187 46.8558 38.6797 46.9951C38.8187 46.8558 38.9473 46.708 39.0674 46.5547ZM1.83008 46.5049C1.90116 46.5981 1.97567 46.689 2.05371 46.7773C1.97567 46.689 1.90115 46.5981 1.83008 46.5049ZM5.74023 3.57617C5.25831 3.57617 4.86737 3.96734 4.86719 4.44922V43.5508C4.86737 44.0327 5.25831 44.4238 5.74023 44.4238H35.1973C35.6791 44.4237 36.0701 44.0326 36.0703 43.5508V19.1123C36.0701 18.6305 35.6791 18.2404 35.1973 18.2402H22.9229C22.5024 18.2401 22.1 18.073 21.8037 17.7783C21.5075 17.4834 21.3408 17.0834 21.3408 16.668V4.44922C21.3406 3.96744 20.9505 3.57633 20.4688 3.57617H5.74023ZM40.083 44.0342C40.0801 44.0636 40.0748 44.0927 40.0713 44.1221C40.0754 44.0876 40.0806 44.0532 40.084 44.0186L40.083 44.0342ZM27.833 24.874C28.2536 24.8741 28.6568 25.0401 28.9531 25.335C29.2488 25.6297 29.4139 26.0285 29.4141 26.4434C29.4141 26.8586 29.2492 27.2588 28.9531 27.5537L19.1338 37.3281C18.8374 37.6231 18.4344 37.79 18.0137 37.79C17.5929 37.79 17.1899 37.6231 16.8936 37.3281L11.9844 32.4404L11.9736 32.4307L11.8662 32.3164C11.7648 32.1974 11.6821 32.0635 11.6201 31.9199C11.5376 31.7286 11.494 31.5224 11.4922 31.3145C11.4905 31.1067 11.5303 30.9005 11.6094 30.708C11.6886 30.5153 11.8058 30.34 11.9541 30.1924C12.1024 30.0448 12.279 29.927 12.4736 29.8477C12.6682 29.7684 12.8774 29.7287 13.0879 29.7305C13.2984 29.7323 13.507 29.7758 13.7002 29.8584C13.8933 29.941 14.0673 30.0618 14.2129 30.2119C14.2164 30.2155 14.2211 30.2182 14.2246 30.2217L17.3984 33.3818C17.7389 33.7207 18.2884 33.7207 18.6289 33.3818L26.7129 25.335C27.0093 25.04 27.4123 24.874 27.833 24.874ZM30.2871 26.4434V26.4443C30.2871 26.5252 30.2834 26.6057 30.2754 26.6855H30.2744C30.2824 26.6056 30.2871 26.5244 30.2871 26.4434ZM29.998 25.293C30.0357 25.3632 30.07 25.4353 30.1006 25.5088L30.1807 25.7334C30.1342 25.5811 30.0733 25.4334 29.998 25.293ZM25.9932 4.84277C25.7432 4.59406 25.3686 4.51998 25.043 4.65527C24.7175 4.7906 24.505 5.10849 24.5049 5.46094V14.2246C24.505 14.7065 24.896 15.0976 25.3779 15.0977H34.1807C34.5339 15.0975 34.8525 14.8841 34.9873 14.5576C35.1221 14.2312 35.047 13.8557 34.7969 13.6064L25.9932 4.84277ZM39.3867 12.4971H39.3877H39.3867ZM0.84668 4.06543C0.83896 4.16301 0.833846 4.26098 0.832031 4.35938C0.833846 4.26098 0.838962 4.16301 0.84668 4.06543ZM1.95215 1.33984C1.9316 1.36465 1.91162 1.38987 1.8916 1.41504C1.90846 1.39385 1.92515 1.3725 1.94238 1.35156L1.95215 1.33984ZM39.2109 46.3623C39.1806 46.4053 39.15 46.4482 39.1182 46.4902C39.15 46.4482 39.1806 46.4053 39.2109 46.3623ZM0.854492 44.0342C0.861703 44.1064 0.870458 44.1784 0.880859 44.25C0.870461 44.1784 0.861701 44.1064 0.854492 44.0342ZM0.878906 3.75977C0.871849 3.80908 0.8659 3.8586 0.860352 3.9082C0.865899 3.8586 0.87185 3.80908 0.878906 3.75977Z"
                  fill="#006DFD"
                />
              </svg>
            ),
            title: "Costs",
            negativePoint:
              "Hidden costs - benefits, space, hardware not included",
            positivePoint: "Costs are inclusive (Salaries, space, tools etc)",
          },
        ].map((item, index) => (
          <ComparisonCard
            icon={item.icon}
            title={item.title}
            negativePoint={item.negativePoint}
            positivePoint={item.positivePoint}
          />
        ))
      }
    </div>
  </div>
</section>
