---
// COMPONENTS //
import ContactItem from "../../components/ContactItem.astro";
---

<section class="w-full">
  <div
    class="container m-auto w-full px-6 pt-24 pb-16 md:pt-32 md:pb-28 xl:px-12 2xl:px-6"
  >
    <!-- Title and subtitle -->
    <div class="fade-in flex flex-col gap-5 pb-9">
      <p
        class="text-n-800 text-4xl leading-[42px] font-bold tracking-tight md:text-7xl md:leading-none lg:text-8xl"
      >
        The Conversation
        <br />
        starts here
      </p>
      <p class="text-n-700 text-sm md:text-xl">
        We’re just a call, a click, or a coffee away.
      </p>
    </div>

    <!-- Contact Items  -->
    <div
      class="mt-16 flex flex-col items-center justify-between gap-14 md:mt-24 md:flex-row md:items-start md:gap-0 lg:px-24"
    >
      <div class="card-anim" style="--delay: 0s">
        <ContactItem label="CALL US" phone="022 4157 2929">
          <span slot="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="29"
              height="28"
              viewBox="0 0 29 28"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21.2613 0.0144069C20.3457 0.124226 19.5088 0.459559 18.8236 0.991199C18.1759 1.49369 15.3435 4.06894 15.0322 4.43837C14.4923 5.07902 14.229 5.80945 14.2288 6.66713C14.2286 7.6014 14.5338 8.3303 15.2964 9.21668C15.4102 9.3489 15.52 9.47839 15.5405 9.50439C15.5719 9.54428 15.5259 9.62803 15.2463 10.0397C13.8908 12.0358 12.5352 13.3931 10.5621 14.7297L10.0895 15.0499L9.72235 14.7407C9.26683 14.3572 9.05504 14.2124 8.70209 14.0435C7.9467 13.6819 7.13561 13.6068 6.29628 13.8206C5.98009 13.9012 5.4526 14.1605 5.15297 14.3826C4.73988 14.6889 2.36512 17.249 1.5496 18.2672C0.776782 19.2322 0.413151 20.3763 0.517547 21.5143C0.594112 22.3489 0.802393 22.9574 1.23455 23.6091C1.53901 24.0682 1.97459 24.4852 2.70338 25.0154C3.03651 25.2577 3.56283 25.6537 3.87299 25.8953C4.85885 26.6632 5.56275 27.0811 6.43489 27.4163C8.82499 28.3349 11.499 28.1629 13.7638 26.9449C14.4027 26.6013 14.9229 26.2128 16.4779 24.9178C19.5788 22.3355 21.5245 20.4613 23.7667 17.8968C25.2137 16.2418 26.649 14.491 27.0383 13.9061C28.6931 11.4194 28.9608 8.25053 27.7497 5.48315C27.4323 4.75802 27.0883 4.20545 26.4143 3.33838C26.1835 3.0415 25.8116 2.54893 25.5879 2.2438C25.0732 1.54167 24.8835 1.31721 24.6042 1.07976C23.9168 0.495426 23.1558 0.156223 22.2667 0.0378281C21.9779 -0.000617416 21.4829 -0.0121631 21.2613 0.0144069ZM21.1923 2.19761C20.6236 2.32717 20.337 2.50002 19.5519 3.18706C18.6404 3.98467 16.8328 5.6506 16.6652 5.84751C16.4291 6.12502 16.3407 6.44003 16.3897 6.82979C16.4405 7.23491 16.5485 7.39714 17.3918 8.33522C17.9027 8.90348 17.9554 8.99746 17.9721 9.37085C17.9867 9.69737 17.9563 9.77882 17.6125 10.3355C15.9534 13.0224 14.2437 14.8286 11.7776 16.4999C11.1735 16.9094 10.5311 17.3093 10.354 17.3861C10.0844 17.5032 9.7458 17.49 9.46881 17.3517C9.39579 17.3152 9.14468 17.1105 8.91079 16.8968C8.32595 16.3625 7.98364 16.0811 7.81693 15.9975C7.36192 15.7696 6.75969 15.8283 6.40376 16.1352C6.07807 16.416 4.00315 18.6782 3.32924 19.4872C2.8096 20.111 2.62489 20.6158 2.66076 21.3144C2.69774 22.0342 2.99614 22.5615 3.62944 23.026C4.00342 23.3002 5.1183 24.1372 5.54506 24.4641C5.9313 24.7599 6.24296 24.9569 6.63277 25.1517C8.65638 26.1629 11.1123 26.0629 13.0141 24.892C13.431 24.6353 13.5992 24.5058 14.7535 23.5529C18.5348 20.4314 20.6299 18.3507 23.6637 14.7041C24.7696 13.3747 25.0944 12.961 25.3485 12.5577C26.452 10.8062 26.6517 8.5931 25.8857 6.60499C25.6167 5.90674 25.3719 5.50897 24.5771 4.47796C24.3863 4.23055 24.0526 3.78462 23.8354 3.48698C23.2497 2.68427 22.9413 2.4225 22.371 2.24398C22.097 2.15824 21.4729 2.13368 21.1923 2.19761Z"
                fill="white"></path>
            </svg>
          </span>
        </ContactItem>
      </div>

      <div class="card-anim" style="--delay: 0.2s">
        <ContactItem label="DROP A MAIL" email="info@stylsmyth.com">
          <span slot="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M2 6a2 2 0 012-2h16a2 2 0 012 2v.5l-10 6-10-6V6z"
                fill="white"></path>
              <path
                d="M2 8.75l9.445 5.667a2 2 0 002.11 0L23 8.75V18a2 2 0 01-2 2H4a2 2 0 01-2-2V8.75z"
                fill="white"></path>
            </svg>
          </span>
        </ContactItem>
      </div>

      <div class="card-anim" style="--delay: 0.4s">
        <ContactItem
          label="VISIT US"
          address="Sun Mill Compound, Todi industrial Estate, 4th floor, B wing, Lower Parel West, Mumbai"
        >
          <span slot="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12 2C8.686 2 6 4.686 6 8c0 5 6 12 6 12s6-7 6-12c0-3.314-2.686-6-6-6zm0 8a2 2 0 110-4 2 2 0 010 4z"
                fill="white"></path>
            </svg>
          </span>
        </ContactItem>
      </div>
    </div>
  </div>
</section>
