---
// COMPONENTS //
import ApproachCard from "../../components/ApproachCard.astro";
import SectionHeading from "../../components/SectionHeading.astro";

const ourApproachDetails = {
  title: "How we",
  highlightedText: "Make It Happen",
  description:
    "We combine the flexibility of outsourcing with the control of in-house teams.",
  approaches: [
    {
      icon: "/icons/info-desk.svg",
      title: "Built Around Your Brand.",
      description:
        "Every client has a dedicated team aligned with their brand.",
    },
    {
      icon: "/icons/workflow.svg",
      title: "Operational Peace of Mind, Built In.",
      description:
        "We manage infrastructure, HR, and delivery — ensuring zero downtime and predictable outcomes.",
    },
    {
      icon: "/icons/partnership.svg",
      title: "Here for the Long Haul.",
      description: "We focus on long-term partnerships, not one-off projects.",
    },
  ],
};
---

<section class="m-auto mb-12">
  <div class="container mx-auto space-y-14 px-6 py-8 md:py-24 lg:space-y-22">
    <!-- Heading -->
    <SectionHeading {...ourApproachDetails} />

    <div class="flex flex-wrap gap-10 lg:justify-between">
      <!-- Approaches -->
      {
        ourApproachDetails.approaches.map((approach, index) => (
          <div class="w-full sm:w-[47%] lg:w-[28%]">
            <ApproachCard
              key={index}
              title={approach.title}
              description={approach.description}
              icon={approach.icon}
            />
          </div>
        ))
      }
    </div>
  </div>

  <div class="scroll-container">
    <div class="scroll-content">
      <p
        class="text-[32px] leading-normal font-bold whitespace-nowrap text-black sm:text-[60px] md:text-[80px] lg:text-[100px] xl:text-[120px] 2xl:text-[160px]"
      >
        Outsource. Control. Align. Thrive.&nbsp;&nbsp;&nbsp;
      </p>
      <p
        class="text-[32px] leading-normal font-bold whitespace-nowrap text-black sm:text-[60px] md:text-[80px] lg:text-[100px] xl:text-[120px] 2xl:text-[160px]"
      >
        Outsource. Control. Align. Thrive.&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>
</section>
<style>
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .scroll-container {
    @apply relative overflow-hidden whitespace-nowrap;
  }

  .scroll-container::after {
    content: "";
    position: absolute;
    inset: 0; /* full cover */
    pointer-events: none;
    z-index: 10;
    background: linear-gradient(
      to right,
      var(--color-n-50) 5%,
      transparent 30%,
      transparent 50%,
      transparent 70%,
      var(--color-n-50) 95%
    );
  }

  .scroll-content {
    @apply relative inline-flex;
    animation: scroll-left 15s linear infinite;
    z-index: 5; /* keep text below gradient */
  }
</style>
