---
import Button from "../../components/Button.astro";
import Input from "../../components/Input.astro";
import FileUpload from "../../components/FileUpload.astro";

// Dummy CMS data
const contactPageDetails = {
  // Email + Phone (same style)
  contactDetails: [
    {
      title: "General inquiries",
      value: "info@stylsmyth.com",
    },
    {
      title: "Phone Number",
      value: "+91 7894561230",
    },
  ],
};
---

<section class="bg-n-50">
  <div class="container mx-auto space-y-22 px-6 py-8 md:py-24">
    <div class="flex flex-col justify-between gap-12 md:gap-20 lg:flex-row">
      <!-- Form Wrapper -->
      <div class="flex flex-col gap-12 md:gap-16 lg:w-1/2 lg:gap-22">
        <p class="text-lg font-medium md:text-2xl">
          We’re not just hiring. We’re building futures.
        </p>
        <!-- Contact form  -->
        <form class="flex flex-col gap-8 md:gap-10">
          <div class="space-y-10 md:space-y-22">
            <!-- Name  -->
            <Input id="name" label="Full Name*" />
            <div class="flex flex-col gap-10 md:flex-row md:gap-18">
              <!-- Phone no -->
              <Input id="phone" label="Phone number*" type="tel" />

              <!-- Email -->
              <Input id="email" label="Email*" type="email" />
            </div>

            <!-- Upload CV -->
            <FileUpload id="myfile" label="Upload CV" accept=".pdf" />

            <!-- Linkedin -->
            <Input id="linkedin" label="Linkedin*" />

            <!-- Additional comment -->
            <Input id="comment" label="Additional comment" />
          </div>

          <!-- Submit Button -->
          <Button
            variant="solid"
            text="Apply Now"
            extraClasses="!bg-blue-500 !text-n-50 self-start hover:!bg-n-50 hover:!text-blue-500 hover:!border-blue-500"
          />
        </form>
      </div>

      <!-- Contact details wrapper -->
      <div
        class="flex flex-col justify-start gap-8 md:gap-10 lg:w-1/3 lg:gap-18"
      >
        <div>
          <p class="text-base font-medium md:text-2xl">Having any issue?</p>
          <p class="text-2xl font-medium md:text-4xl xl:text-7xl">Contact us</p>
        </div>

        <!-- Contact details wrapper -->
        <div class="flex flex-row gap-6 md:gap-11 lg:flex-1 lg:flex-col">
          <!-- Mail details -->
          {
            contactPageDetails.contactDetails[0] && (
              <div>
                {/* <!-- Icon -->  */}
                <div class="text-blue-500">
                  <svg
                    class="size-5 md:size-8"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.1134 2.00423C9.15311 2.07027 6.66164 2.24018 5.75969 2.36932C3.09417 2.75098 0.941487 4.63086 0.461442 6.99606C0.365675 7.46798 0.172496 9.20425 0.0881144 10.3518C-0.0292686 11.948 -0.0293714 13.0902 0.0878061 14.6644C0.171647 15.7912 0.367731 17.5453 0.461442 18.007C0.860601 19.9737 2.39828 21.6133 4.51747 22.3319C5.17141 22.5536 5.61216 22.636 6.62252 22.7252C10.0629 23.0292 12.2812 23.0734 15.1358 22.8952C16.3939 22.8166 17.7764 22.7002 18.2405 22.6337C20.2125 22.3514 21.9558 21.233 22.9011 19.6439C23.2137 19.1183 23.4308 18.5653 23.5384 18.0201C23.6354 17.5292 23.8259 15.8068 23.9126 14.6382C24.0293 13.0629 24.0292 11.9442 23.9121 10.3518C23.8286 9.21707 23.6333 7.46117 23.5388 6.99606C23.2213 5.43358 22.1658 4.04322 20.6468 3.18651C19.9275 2.78086 19.0595 2.48658 18.2329 2.36824C17.5756 2.27413 15.4023 2.10975 13.9149 2.04164C13.3058 2.01374 11.5333 1.99007 11.1134 2.00423ZM10.4965 3.90526C8.88406 3.96486 6.34794 4.16221 5.78236 4.27217C5.10469 4.4039 4.44792 4.67346 3.90382 5.04319C3.66327 5.20668 3.15845 5.64054 3.15845 5.68379C3.15845 5.71009 4.15987 6.6553 4.81626 7.24858C6.44399 8.7198 8.04492 10.0188 9.59984 11.13C10.5046 11.7766 11.0947 11.9874 12.0001 11.9874C12.9055 11.9874 13.4957 11.7765 14.4003 11.1299C15.9538 10.0195 17.5581 8.71775 19.1839 7.2485C19.8393 6.65627 20.8417 5.71011 20.8417 5.68379C20.8417 5.64054 20.3369 5.20668 20.0964 5.04319C19.6972 4.77196 19.1537 4.51831 18.6699 4.37745C18.219 4.24618 17.6968 4.18096 16.1382 4.06123C13.9459 3.89284 12.1655 3.84363 10.4965 3.90526ZM2.24925 7.48623C2.1889 7.69075 1.98423 9.64422 1.89407 10.8761C1.84292 11.5747 1.85071 13.5675 1.90754 14.3236C1.98842 15.4002 2.15377 16.9512 2.24756 17.5136C2.37517 18.2785 2.79353 19.0124 3.42833 19.5848C4.06117 20.1555 4.88455 20.5564 5.78236 20.7309C6.64568 20.8987 10.2241 21.1262 12.0001 21.1262C13.7761 21.1262 17.3545 20.8987 18.2178 20.7309C19.6747 20.4477 20.886 19.588 21.4551 18.4335C21.6714 17.9947 21.7388 17.7197 21.8428 16.8513C22.216 13.7365 22.2431 11.9386 21.9583 9.17203C21.891 8.51701 21.7635 7.50933 21.7434 7.47275C21.7298 7.44785 21.5839 7.56876 21.2376 7.89198C19.3846 9.62188 17.5651 11.1371 15.7892 12.4292C14.7011 13.2209 14.255 13.4612 13.4657 13.681C12.548 13.9365 11.4521 13.9365 10.5344 13.681C9.75855 13.4649 9.31249 13.227 8.26738 12.4718C6.56654 11.2427 4.61128 9.61724 2.78577 7.91477C2.23751 7.40346 2.26678 7.42685 2.24925 7.48623Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>

                {/* <!-- Title -->  */}
                <p class="font-semibold md:pb-2 md:text-lg">
                  {contactPageDetails.contactDetails[0].title}
                </p>

                {/* <!-- Text Description -->  */}
                <p class="text-sm font-normal md:text-2xl">
                  {contactPageDetails.contactDetails[0].value}
                </p>
              </div>
            )
          }

          <!-- Phone details -->
          <div>
            <!-- Icon -->
            <div class="text-blue-500">
              <svg
                class="size-5 md:size-8"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_3018_30)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.20457 0.0123488C6.98936 0.106479 7.70671 0.393908 8.29406 0.849599C8.84923 1.28031 11.277 3.48766 11.5439 3.80432C12.0066 4.35344 12.2323 4.97953 12.2324 5.71468C12.2326 6.51548 11.971 7.14026 11.3174 7.90001C11.2199 8.01334 11.1257 8.12434 11.1081 8.14662C11.0812 8.18081 11.1206 8.2526 11.3603 8.60547C12.5222 10.3164 13.6841 11.4798 15.3753 12.6255L15.7804 12.8999L16.0951 12.6349C16.4856 12.3061 16.6671 12.1821 16.9696 12.0373C17.6171 11.7274 18.3123 11.663 19.0318 11.8463C19.3028 11.9153 19.7549 12.1376 20.0117 12.328C20.3658 12.5905 22.4013 14.7849 23.1003 15.6576C23.7628 16.4847 24.0744 17.4654 23.985 18.4408C23.9193 19.1562 23.7408 19.6777 23.3704 20.2363C23.1094 20.6299 22.7361 20.9873 22.1114 21.4418C21.8259 21.6495 21.3747 21.9889 21.1089 22.1959C20.2638 22.8542 19.6605 23.2124 18.9129 23.4997C16.8643 24.2871 14.5723 24.1397 12.631 23.0956C12.0834 22.8011 11.6375 22.4681 10.3046 21.3581C7.64676 19.1447 5.979 17.5382 4.0571 15.3401C2.81685 13.9216 1.58654 12.4209 1.25288 11.9195C-0.165538 9.78809 -0.394938 7.07189 0.64314 4.69984C0.915158 4.0783 1.21006 3.60467 1.78777 2.86147C1.9856 2.607 2.30433 2.1848 2.49607 1.92325C2.93725 1.32143 3.09987 1.12903 3.33927 0.925505C3.92847 0.424651 4.58073 0.133906 5.34285 0.0324241C5.5904 -0.000529215 6.01468 -0.0104255 6.20457 0.0123488ZM6.26377 1.88367C6.75117 1.99471 6.99682 2.14287 7.6698 2.73177C8.4511 3.41543 10.0004 4.84337 10.1441 5.01215C10.3465 5.25002 10.4222 5.52002 10.3803 5.85411C10.3367 6.20135 10.2441 6.34041 9.52128 7.14448C9.08338 7.63155 9.03824 7.71211 9.02395 8.03216C9.01143 8.31203 9.03747 8.38184 9.33211 8.85902C10.7542 11.1621 12.2197 12.7102 14.3335 14.1428C14.8513 14.4937 15.4019 14.8365 15.5537 14.9024C15.7848 15.0027 16.075 14.9914 16.3124 14.8729C16.375 14.8416 16.5903 14.6662 16.7908 14.483C17.292 14.025 17.5854 13.7838 17.7283 13.7122C18.1184 13.5168 18.6346 13.5671 18.9396 13.8302C19.2188 14.0709 20.9973 16.0099 21.5749 16.7033C22.0203 17.238 22.1787 17.6707 22.1479 18.2695C22.1162 18.8865 21.8605 19.3384 21.3176 19.7365C20.9971 19.9716 20.0415 20.689 19.6757 20.9692C19.3446 21.2228 19.0775 21.3917 18.7433 21.5586C17.0088 22.4253 14.9038 22.3396 13.2737 21.336C12.9163 21.116 12.7721 21.005 11.7827 20.1882C8.54163 17.5127 6.74583 15.7292 4.14543 12.6035C3.19745 11.464 2.91911 11.1094 2.7013 10.7637C1.75543 9.26243 1.58423 7.36551 2.24081 5.66142C2.47141 5.06292 2.6812 4.72197 3.36251 3.83825C3.52602 3.62618 3.81207 3.24396 3.99821 2.98884C4.50027 2.3008 4.7646 2.07643 5.25345 1.92341C5.48825 1.84992 6.02321 1.82887 6.26377 1.88367Z"
                    fill="currentColor"></path>
                </g>
                <defs>
                  <clipPath id="clip0_3018_30">
                    <rect
                      width="24"
                      height="24"
                      fill="white"
                      transform="matrix(-1 0 0 1 24 0)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </div>

            <!-- Title -->
            <p class="font-semibold md:pb-2 md:text-lg">
              {contactPageDetails.contactDetails[1].title}
            </p>

            <!-- Text Description -->
            <p class="text-sm font-normal md:text-2xl">
              {contactPageDetails.contactDetails[1].value}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
