---
import Accordion from "../../components/Accordian.astro";
import type { FAQ } from "../../types/career";

const { faqs } = Astro.props as { faqs: FAQ[] };
---

<section>
  <div
    class="container mx-auto flex items-center justify-center gap-40 px-6 py-20"
  >
    <!-- Left Side -->
    <div class="flex flex-col gap-6 md:gap-10 lg:w-1/2">
      <!-- Texts Wrapper -->
      <div>
        <p
          class="lg:6xl mb-1 text-3xl font-bold md:mb-3 md:text-5xl md:tracking-[4px]"
        >
          Got Questions?
        </p>
        <p class="text-n-950 text-base font-normal md:text-2xl">
          No jargon. Just answers.
        </p>
      </div>

      <!-- Faq Wrapper -->
      <div class="faq space-y-4">
        {
          faqs &&
            faqs.map((faq, i) => (
              <Accordion
                question={faq.question}
                answer={faq.answer}
                isOpen={i === 0}
              />
            ))
        }
      </div>
    </div>
    <!-- Right side -->
    <div class="hidden lg:block">
      <img src="/images/career-faq.png" alt="" class="w-[95%]" />
    </div>
  </div>
</section>
