---
// COMPONENTS //
import ScrollToExplore from "../../components/ScrollToExplore.astro";

const heroContent = {
  title: {
    topText: "Your Career in",
    highlightedText: "Design + Data",
    bottomText: "Starts here",
  },
};
---

<section class="relative flex h-[55vh] w-full flex-col xl:h-[calc(100vh-95px)]">
  <div
    class="relative container mx-auto flex flex-1 items-center px-6 xl:px-12 2xl:px-6"
  >
    <div class="fade-in flex flex-col gap-10 md:gap-20">
      <!-- Upper Title  -->
      <div
        class="text-n-950 text-4xl leading-10 font-bold tracking-tight md:text-5xl md:leading-14 lg:text-6xl lg:leading-[70px] 2xl:text-7xl 2xl:leading-[88px]"
      >
        <p>{heroContent.title.topText}</p>
        <p class="text-blue-500">{heroContent.title.highlightedText}</p>
        <p>{heroContent.title.bottomText}</p>
      </div>

      <!-- Button -->
      <!-- <div class="w-[180px] md:w-[230px]">
        <Button variant="outline" text="View Open Roles" showLeftDot />
      </div> -->
    </div>
  </div>

  <div class="bouncy absolute right-0 bottom-[20%] hidden sm:block">
    <img src="/icons/career.svg" alt="" />
  </div>

  <!-- Scroll to explore text bar -->
  <ScrollToExplore />
</section>
