@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-n-950);
}

@theme inline {
  --color-n-50: var(--color-n-50);
  --color-n-100: var(--color-n-100);
  --color-n-200: var(--color-n-200);
  --color-n-300: var(--color-n-300);
  --color-n-400: var(--color-n-400);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-600);
  --color-n-700: var(--color-n-700);
  --color-n-800: var(--color-n-800);
  --color-n-900: var(--color-n-900);
  --color-n-950: var(--color-n-950);
}

:root {
  --color-n-50: var(--color-slate-50);
  --color-n-100: var(--color-slate-100);
  --color-n-200: var(--color-slate-200);
  --color-n-300: var(--color-slate-300);
  --color-n-400: var(--color-slate-400);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-600);
  --color-n-700: var(--color-slate-700);
  --color-n-800: var(--color-slate-800);
  --color-n-900: var(--color-slate-900);
  --color-n-950: var(--color-slate-950);
}

.dark {
  --color-n-50: var(--color-slate-950);
  --color-n-100: var(--color-slate-900);
  --color-n-200: var(--color-slate-800);
  --color-n-300: var(--color-slate-700);
  --color-n-400: var(--color-slate-600);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-400);
  --color-n-700: var(--color-slate-300);
  --color-n-800: var(--color-slate-200);
  --color-n-900: var(--color-slate-100);
  --color-n-950: var(--color-slate-50);
}
