@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Poppins', sans-serif;
}

@theme inline {
  --color-n-50: var(--color-n-50);
  --color-n-100: var(--color-n-100);
  --color-n-200: var(--color-n-200);
  --color-n-300: var(--color-n-300);
  --color-n-400: var(--color-n-400);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-600);
  --color-n-700: var(--color-n-700);
  --color-n-800: var(--color-n-800);
  --color-n-900: var(--color-n-900);
  --color-n-950: var(--color-n-950);
}

:root {
  --color-n-50: var(--color-slate-50);
  --color-n-100: var(--color-slate-100);
  --color-n-200: var(--color-slate-200);
  --color-n-300: var(--color-slate-300);
  --color-n-400: var(--color-slate-400);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-600);
  --color-n-700: var(--color-slate-700);
  --color-n-800: var(--color-slate-800);
  --color-n-900: var(--color-slate-900);
  --color-n-950: var(--color-slate-950);
}

.dark {
  --color-n-50: var(--color-slate-950);
  --color-n-100: var(--color-slate-900);
  --color-n-200: var(--color-slate-800);
  --color-n-300: var(--color-slate-700);
  --color-n-400: var(--color-slate-600);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-400);
  --color-n-700: var(--color-slate-300);
  --color-n-800: var(--color-slate-200);
  --color-n-900: var(--color-slate-100);
  --color-n-950: var(--color-slate-50);
}
