---

---

<!-- Footer -->
<footer class="bg-n-950 sticky bottom-0 z-0 text-n-50">
  <div
    class="container mx-auto flex flex-col items-center gap-8 md:gap-12 lg:gap-20 justify-center py-10 md:pb-16 lg:pb-20 px-5"
  >
    <!-- Logo Wrapper -->
    <div class="flex flex-col items-center gap-4 md:gap-6 lg:gap-0 md:pb-2.5">
      <img src="/images/stylsmyth-brand-logo.svg" alt="styl-smyth" />
      <!-- Sub title text -->
      <p
        class="text-n-50 font-medium text-xs sm:text-lg md:text-xl lg:text-2xl w-8/9 md:w-4/5 g:2/3 text-center leading-normal md:leading-8 lg:leading-10"
      >
        A specialized staffing solutions company for the fashion industry, <br
          class="hidden md:block"
        />
        providing full-time remote teams that seamlessly integrate into your business
      </p>
    </div>

    <!-- Separator -->
    <div class="h-px w-full bg-n-50 rounded-xs"></div>

    <!-- Footer Bottom nav links -->
    <div
      class="flex flex-row flex-wrap justify-between w-full items-center gap-8 sm:gap-6 md:gap-8"
    >
      <!-- Social Media Links -->
      <div class="flex gap-4 order-2 lg:order-none">
        <!-- Linkedin logo -->
        <img src="/icons/linkedin.svg" alt="linkedin" />
      </div>

      <!-- Footer links -->
      <div
        class="order-1 lg:order-none w-full text-n-50 font-medium text-xs md:text-base lg:max-w-[60%] self-center"
      >
        <ul
          class="flex gap-x-12 gap-y-3 sm:gap-6 md:gap-9 justify-center flex-wrap"
        >
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Life at STYL</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Bottom right text Wrapper -->
      <div
        class="order-3 lg:order-none text-n-50 font-medium text-right text-xs sm:text-sm md:text-base leading-normal"
      >
        <p class="flex gap-1 items-center">
          Proudly krafted with <img
            src="/icons/heart.svg"
            loading="lazy"
            alt=""
          />in India
        </p>
        <p class="md:text-sm">All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
