---
// IMPORT //
import BrandLogo from "../BrandLogo.astro";
import Hamburger from "../Hamburger.astro";
import Navbar from "../Navbar.astro";

// DATA //
const navLinkItems = [
  { name: "Home", href: "#", active: true },
  { name: "About", href: "#" },
  { name: "Services", href: "#" },
  { name: "Life at STYL", href: "#" },
  { name: "Case Studies", href: "#" },
  { name: "Career", href: "#" },
];
---

<!-- Header Component -->
<header>
  <div class="container mx-auto flex justify-between items-center py-2 px-4">
    <!-- Brand Logo -->
    <div class="">
      <a href="#">
        <!-- Brand logo component -->
        <BrandLogo variant="white" classes="w-32 md:w-50 lg:w-53" />
      </a>
    </div>
    <div class="">
      <!-- Navbar component -->
      <Navbar navItems={navLinkItems} />

      <!-- Hamburger Component -->
      <Hamburger />
    </div>
  </div>
</header>
