---
import BrandLogo from "../BrandLogo.astro";
import ProgressBar from "../ProgressBar.astro";
---

<!-- Loading Page -->
<section class="bg-n-950 flex h-screen items-center justify-center">
  <div class="px-6 lg:w-1/2">
    <!-- Brand Logo -->
    <BrandLogo variant="black" classes="w-full" />
    <!-- Progress bar component -->
    <ProgressBar progress={20} />
  </div>
</section>
