<section
  class="m-auto bg-cover bg-center bg-no-repeat md:bg-[url('/images/founder-lines.png')]"
>
  <div class="container mx-auto space-y-11 px-6 py-8 md:py-24 lg:space-y-22">
    <p class="text-n-950 text-4xl md:text-5xl lg:text-6xl">
      <span class="font-bold text-blue-500">Founder</span> Story
    </p>
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div class="w-full lg:w-[45%]">
        <img src="/images/founder.png" alt="Founder" class="" />
      </div>
      <div class="w-full space-y-10 pt-20 lg:w-[50%] lg:space-y-20">
        <div class="relative space-y-12">
          <div class="flex items-center gap-3 md:gap-4">
            <div
              class="flex h-[50px] w-[50px] items-center justify-center rounded-full bg-blue-500 lg:h-[72px] lg:w-[72px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="26"
                viewBox="0 0 30 26"
                class="size-6 lg:size-10"
                fill="none"
              >
                <path
                  d="M1 8.63614C1.09234 2.5993 8.10996 -3.00089 14.7564 4.88064C21.4029 -3.00089 28.4206 2.59892 28.5129 8.63578C28.5129 17.623 17.3865 25 14.7564 25C12.1263 25 1 17.6233 1 8.63614Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
            <p class="text-n-950 text-lg md:text-2xl">
              TOGETHER WE CAN ACHIEVE MORE
            </p>
          </div>
          <p
            class="text-n-950 text-xl leading-[35px] md:text-4xl md:leading-[55px]"
          >
            We didn’t build a company. We built a culture — where
            <span class="font-medium underline"> ambition </span>
            breathes, <span class="font-medium underline">creativity</span> roams
            free, and people become <span class="font-medium underline"
              >more than their roles
            </span>.
          </p>
          <img
            src="/icons/quote.svg"
            alt=""
            class="absolute -top-[10%] -left-0 -z-1 size-40 md:size-70 lg:-top-[30%] lg:-left-[30%] 2xl:-top-[50%]"
          />
          <img
            src="/icons/quote.svg"
            alt=""
            class="absolute right-0 -bottom-[20%] -z-1 size-40 rotate-180 md:-bottom-[30%] md:size-70 2xl:-bottom-[50%]"
          />
        </div>
        <div class="mt-12 space-y-2 lg:mt-20">
          <img
            src="/images/founder-sign.png"
            class="h-[80px] md:h-[110px]"
            alt=""
          />
          <p class="text-n-700 text-xl font-medium md:text-3xl">
            Avi Sonpal, <span class="text-n-500 text-lg font-normal md:text-2xl"
              >MD & CEO</span
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="text-n-700 space-y-10 pt-5 text-lg leading-8 md:text-2xl md:leading-10 lg:pt-0"
    >
      <p class="">
        Avi Sonpal, Founder of STYLSMYTH, is a fourth-generation entrepreneur
        who has spent over two decades shaping the future of fashion supply
        chains and operations.
      </p>

      <p class="">
        His journey began by expanding his family’s export business into
        international markets, before taking on a pivotal role at Steve &
        Barry’s, where he launched and scaled the India operations to a team of
        1,000+ employees, helping the brand reach US$ 1 Billion in revenue by
        2008.
      </p>
      <p class="">
        In 2010, Avi founded Unisource Ventures, one of the first “one-stop
        shops” for global retailers seeking supply chain outsourcing solutions.
        Building on that success, he later launched StylGroup, which evolved
        into STYLSMYTH — a KPO designed to address the efficiency gap in the
        fashion industry.
      </p>
      <p class="">
        Today, under Avi’s leadership, STYLSMYTH works with 30+ global clients
        and manages 150+ dedicated professionals, delivering design and
        operations solutions that help fashion companies scale with consistency,
        speed, and cost efficiency.
      </p>
    </div>
  </div>
</section>
