---
// COMPONENTS //
import ApproachCard from "../../components/ApproachCard.astro";
import SectionHeading from "../../components/SectionHeading.astro";

const ourApproachDetails = {
  title: "How we",
  highlightedText: "Make It Happen",
  description:
    "We combine the flexibility of outsourcing with the control of in-house teams.",
  approaches: [
    {
      title: "Built Around Your Brand.",
      description:
        "Every client has a dedicated team aligned with their brand.",
    },
    {
      title: "Operational Peace of Mind, Built In.",
      description:
        "We manage infrastructure, HR, and delivery — ensuring zero downtime and predictable outcomes.",
    },
    {
      title: "Here for the Long Haul.",
      description: "We focus on long-term partnerships, not one-off projects.",
    },
  ],
};
---

<section class="m-auto mb-12">
  <div class="container mx-auto space-y-14 px-6 py-8 md:py-24 lg:space-y-22">
    <!-- Heading -->
    <SectionHeading {...ourApproachDetails} />

    <div class="flex flex-wrap gap-10">
      <!-- Approaches -->
      {
        ourApproachDetails.approaches.map((approach, index) => (
          <div class="w-full sm:w-[47%] lg:w-[30%]">
            <ApproachCard
              key={index}
              title={approach.title}
              description={approach.description}
            />
          </div>
        ))
      }
    </div>
  </div>

  <div class="flex items-center justify-center">
    <p
      class="bg-[radial-gradient(50%_50%_at_50%_50%,#000_0%,#F1F5F9_100%)] bg-clip-text text-[32px] leading-none font-medium whitespace-nowrap text-transparent sm:text-[60px] md:text-[80px] lg:text-[100px] xl:text-[120px] 2xl:text-[160px]"
    >
      Your Growth is Automated
    </p>
  </div>
</section>
