---
// COMPONENTS //
import SectionHeading from "../../components/SectionHeading.astro";
import TeamCard from "../../components/TeamCard.astro";

const teamDetails = {
  title: "Who make the",
  highlightedText: "Magic Happen",
  description:
    "We give you the runway to grow, the tools to deliver, and the teams to back you.",
  teamMembers: [
    {
      name: "Hetal Doshi",
      role: "Sr. Manager",
      field: "Product Delivery",
      image: "/images/team-members/member1.png",
      links: [{ href: "https://www.linkedin.com/in/hetaldoshi/" }],
    },
    {
      name: "Poojaa Somaiya",
      role: "Sr. Manager",
      field: "Design Solutions",
      image: "/images/team-members/member3.png",
      // links: [{ href: "https://linkedin.com" }],
    },
    {
      name: "Shubham Shanghrajka",
      role: "Sr. Manager",
      field: "Operations",
      image: "/images/team-members/member2.png",
      links: [{ href: "https://www.linkedin.com/in/shubham-sanghrajka/" }],
    },
  ],
};
---

<section class="m-auto">
  <div class="inner-container container mx-auto space-y-11 lg:space-y-22">
    <!-- Heading -->
    <SectionHeading {...teamDetails} />

    <!-- Team members wrapper -->
    <div class="flex flex-col flex-wrap justify-center gap-10 md:flex-row">
      {
        teamDetails.teamMembers.map((member, index) => (
          // Team Card
          <div
            class="card-anim card-left h-full w-full md:w-[45%] lg:w-[30%]"
            style={`--delay: ${index * 0.2}s`}
          >
            <TeamCard {...member} />
          </div>
        ))
      }
    </div>
  </div>
</section>
