---
// COMPONENTS //
import TeamCard from "../../components/TeamCard.astro";

const teamDetails = {
  title: "Who make the",
  highlightedText: "Magic Happen",
  description:
    "We give you the runway to grow, the tools to deliver, and the teams to back you.",
  teamMembers: [
    {
      name: "Hetal Doshi",
      role: "Sr. Manager",
      field: "Product Delivery",
      image: "/images/team-members/member1.png",
      links: [
        { href: "https://linkedin.com" },
        { href: "https://linkedin.com" },
      ],
    },
    {
      name: "Poojaa Somaiya",
      role: "Sr. Manager",
      field: "Design Solutions",
      image: "/images/team-members/member3.png",
      links: [
        { href: "https://linkedin.com" },
        { href: "https://linkedin.com" },
      ],
    },
    {
      name: "Shubham Shanghrajka",
      role: "Sr. Manager",
      field: "Operations",
      image: "/images/team-members/member2.png",
      links: [
        { href: "https://linkedin.com" },
        { href: "https://linkedin.com" },
      ],
    },
  ],
};
---

<section class="m-auto">
  <div class="container mx-auto space-y-11 px-6 py-8 md:py-24 lg:space-y-22">
    <!-- Heading -->
    <div class="flex flex-col">
      <p class="text-n-950 text-lg font-bold md:mb-1 md:text-3xl">
        {teamDetails.title}
      </p>
      <p class="text-3xl font-bold text-blue-500 md:text-6xl">
        {teamDetails.highlightedText}
      </p>
      <p
        class="text-n-700 mt-2 w-[70%] max-w-3xl text-base md:mt-3 md:text-xl lg:mt-5 lg:w-[40%]"
      >
        {teamDetails.description}
      </p>
    </div>

    <!-- Team members wrapper -->
    <div class="flex flex-col flex-wrap justify-center gap-10 md:flex-row">
      {
        teamDetails.teamMembers.map((member) => (
          // Team Card
          <div class="w-full md:w-[45%] lg:w-[30%] h-full">
            <TeamCard {...member} />
          </div>
        ))
      }
    </div>
  </div>
</section>
