---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section>
    <img src="/images/contact-hero.png" alt="Contact Us" />
    <img src="/images/contact-enquire.png" alt="Contact Us" />
  </section>
</Layout>
