---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/contact-us/Hero.astro";
import Enquire from "../../sections/contact-us/Enquire.astro";
---

<Layout>
  <div
    class="bg-cover bg-center bg-no-repeat md:bg-[url('/images/lines.png')]"
  >
    <Hero />
    <Enquire />
  </div>
</Layout>
