---
import Layout from "../../layouts/Layout.astro";
import Enquire from "../../sections/contact/Enquire.astro";
---

<Layout>
  <section>
    <img src="/images/contact-hero.png" alt="Contact Us" />
    <Enquire />
  </section>
</Layout>
