---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/contact-us/Hero.astro";
---

<Layout>
  <div
    class="bg-cover bg-center bg-no-repeat"
    style="background-image: url('/images/lines.png')"
  >
    <Hero />
  </div>
</Layout>
