---
const { title, description } = Astro.props;
---

<div>
  <div class="mb-2 md:mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      viewBox="0 0 36 36"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.60141 0.296307C6.48643 0.571503 4.45465 2.53941 4.09357 5.63097C4.04212 6.07139 4.04212 7.24255 4.09357 7.68297C4.25587 9.07282 4.74957 10.2393 5.55825 11.1436L5.79844 11.4123L5.61943 11.499C4.97183 11.8127 4.17144 12.4037 3.53573 13.0377C2.63042 13.9405 2.16222 14.6785 1.59317 16.1C1.00417 17.5713 0.416313 19.6284 0.282781 20.6856C0.208225 21.2759 0.317855 21.9905 0.567439 22.541C1.10472 23.7261 2.19517 24.5599 3.49158 24.7769L3.76841 24.8233L3.85334 25.5061C4.19215 28.2297 4.67889 31.0864 4.93767 31.87C5.20747 32.6868 5.66008 33.4064 6.31209 34.0552C7.35108 35.0891 8.65164 35.6577 10.1511 35.7335C12.7515 35.8651 15.1292 34.2853 15.9292 31.8943C16.2008 31.0827 16.6956 28.1989 17.0219 25.525L17.1075 24.8231L17.391 24.7756C17.786 24.7095 18.1162 24.603 18.4925 24.4206C18.9268 24.21 19.2152 23.9974 19.5685 23.6275C20.0515 23.1218 20.3456 22.5983 20.5149 21.9429C20.5788 21.6953 20.5964 21.5126 20.5978 21.078C20.5996 20.5621 20.5895 20.4828 20.4397 19.8345C20.1349 18.5152 19.7315 17.2175 19.255 16.024C18.7187 14.6805 18.1609 13.8248 17.2341 12.9244C16.6823 12.3882 15.8433 11.7837 15.2563 11.4994L15.0781 11.4131L15.318 11.1441C16.3418 9.99588 16.8225 8.56226 16.8225 6.65697C16.8225 5.39317 16.6337 4.43033 16.2079 3.52368C15.6293 2.2915 14.5975 1.30076 13.3634 0.792245C12.2985 0.353459 10.9568 0.176569 9.60141 0.296307ZM26.0364 0.296801C23.6203 0.526891 21.8863 1.98712 21.3592 4.23561C21.2479 4.71035 21.1928 5.26044 21.1929 5.89697C21.1929 7.13574 21.4068 8.08311 21.8835 8.95597C22.0387 9.2401 22.4039 9.7618 22.4809 9.80938C22.5582 9.85722 22.5198 9.89606 22.2204 10.0729C21.83 10.3035 21.2214 10.7591 20.9903 10.9939C20.8901 11.0957 20.7619 11.273 20.7053 11.388C20.6141 11.5732 20.6024 11.6402 20.6028 11.977C20.6032 12.3145 20.6145 12.3782 20.7039 12.547C20.8662 12.853 21.0572 13.0452 21.3347 13.1819C21.5651 13.2953 21.6207 13.307 21.9316 13.307C22.3412 13.307 22.5343 13.2276 22.9584 12.8844C23.7205 12.2679 24.5316 11.8827 25.4815 11.6861C25.9581 11.5874 27.2007 11.5475 27.7024 11.6148C30.3765 11.9731 32.246 13.8283 32.873 16.746C32.9067 16.9027 32.9383 17.1244 32.9433 17.2386L32.9524 17.4462L32.4394 17.5123C30.3724 17.7786 27.7621 17.9075 25.6458 17.8479C24.3887 17.8124 24.2337 17.8313 23.9024 18.0594C23.4461 18.3737 23.2446 18.8397 23.3237 19.398C23.3854 19.8336 23.6527 20.1961 24.0603 20.3967C24.2812 20.5055 24.3505 20.5192 24.8277 20.5483C25.6867 20.6006 28.1526 20.5885 29.2474 20.5265C31.1877 20.4167 33.56 20.1607 34.0354 20.0099C35.0222 19.6968 35.7417 18.7358 35.7448 17.7264C35.7456 17.4564 35.6527 16.7346 35.5526 16.233C35.2467 14.7005 34.5597 13.1809 33.6629 12.053C33.0381 11.2672 32.0588 10.4189 31.2732 9.98292L31.114 9.89458L31.3241 9.62607C31.9667 8.80473 32.3235 7.85447 32.4377 6.65986C32.745 3.44662 31.2346 1.08564 28.4494 0.425469C27.8341 0.279625 26.7974 0.224335 26.0364 0.296801ZM9.54441 3.04599C8.94328 3.14182 8.42466 3.32612 8.05796 3.57419C7.4397 3.99241 7.00813 4.73322 6.83797 5.66837C6.7519 6.1415 6.75327 7.17963 6.84059 7.66071C7.04332 8.77734 7.54975 9.51096 8.40441 9.92612C8.98919 10.2102 9.562 10.3216 10.4374 10.3216C11.3128 10.3216 11.8856 10.2102 12.4704 9.92612C13.3064 9.52005 13.7843 8.85102 14.016 7.76277C14.1257 7.24765 14.1346 6.14652 14.0333 5.63097C13.8874 4.888 13.6077 4.31127 13.1945 3.90114C12.8457 3.55496 12.5341 3.36982 12.0152 3.20042C11.4072 3.00194 10.2673 2.93069 9.54441 3.04599ZM26.0174 3.04393C25.1401 3.19897 24.5489 3.6028 24.2275 4.26658C23.9644 4.81002 23.8483 5.62098 23.9255 6.37505C24.084 7.92249 24.8197 8.65076 26.3848 8.80945C26.8569 8.85733 27.5269 8.81271 27.9364 8.70612C28.6066 8.53174 29.1604 8.10797 29.4179 7.57255C29.6649 7.05898 29.7148 6.79073 29.7188 5.95397C29.723 5.0935 29.6732 4.80128 29.4355 4.29007C29.1508 3.67785 28.5951 3.25689 27.8414 3.08239C27.4666 2.99564 26.4161 2.97344 26.0174 3.04393ZM9.6016 13.1014C7.32296 13.3206 5.27864 14.6084 4.45545 16.3431C4.12891 17.0312 3.68488 18.2473 3.40676 19.2152C3.19305 19.9589 2.98941 20.8819 2.98941 21.1069C2.98941 21.4865 3.28337 21.8717 3.68887 22.0234C3.87412 22.0927 3.98618 22.104 4.48995 22.104C5.35088 22.104 5.61372 22.1781 5.9504 22.5159C6.27299 22.8396 6.30354 22.9501 6.46671 24.384C6.737 26.7588 7.23629 29.9526 7.47656 30.844C7.69799 31.6655 8.25438 32.3248 9.04744 32.7055C9.47981 32.913 9.74049 32.9746 10.2882 32.9986C11.2699 33.0417 12.0517 32.7443 12.6984 32.0817C13.1576 31.6113 13.3316 31.2361 13.5193 30.312C13.7989 28.9355 14.1802 26.407 14.4075 24.422C14.4613 23.9517 14.5232 23.4558 14.545 23.32C14.6171 22.8701 14.7895 22.5841 15.1296 22.3499C15.4137 22.1542 15.6618 22.1053 16.3735 22.1046C16.8879 22.1041 17.0004 22.0928 17.1859 22.0234C17.5965 21.8698 17.8854 21.487 17.8854 21.0969C17.8854 20.7147 17.4775 19.1302 17.1078 18.076C16.4881 16.3092 16.1449 15.6808 15.3923 14.9351C14.0173 13.5727 11.8468 12.8854 9.6016 13.1014Z"
        fill="#006DFD"></path>
    </svg>
  </div>
  <p class="mb-1 text-lg md:mb-3 md:text-2xl">{title}</p>

  <p class="text-n-600 text-sm md:text-base">
    {description}
  </p>
</div>
