<div class="bg-n-100 space-y-6 rounded-2xl px-4 py-8">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
  >
    <g clip-path="url(#clip0_4032_303)">
      <path
        d="M16.0491 21.1822C16.7709 21.1822 17.356 20.5971 17.356 19.8753C17.356 19.1535 16.7709 18.5684 16.0491 18.5684C15.3273 18.5684 14.7422 19.1535 14.7422 19.8753C14.7422 20.5971 15.3273 21.1822 16.0491 21.1822Z"
        fill="#006DFD"></path>
      <path
        d="M16.0352 14.293C16.5 14.293 16.8799 14.6729 16.8799 15.1377V17.7578C17.7193 18.0936 18.3115 18.9135 18.3115 19.8691C18.3115 19.9795 18.3003 20.0861 18.2852 20.1895L20.5586 21.501V21.502C20.9582 21.7343 21.0984 22.2532 20.8652 22.6543H20.8643C20.7056 22.9249 20.4186 23.0722 20.1328 23.0723C19.9924 23.0723 19.845 23.0352 19.7148 22.9609H19.7139L17.4404 21.6494C17.0562 21.9515 16.5704 22.1377 16.042 22.1377C15.5133 22.1377 15.0269 21.9517 14.6426 21.6494L12.3701 22.9609H12.3691C12.239 23.0352 12.0916 23.0723 11.9512 23.0723C11.6573 23.0722 11.3776 22.9236 11.2197 22.6543H11.2188C10.9866 22.2549 11.1245 21.7386 11.5078 21.5049L11.5127 21.501L13.7852 20.1895C13.77 20.0861 13.7598 19.9794 13.7598 19.8691C13.7598 18.9137 14.3513 18.0938 15.1904 17.7578V15.1377C15.1904 14.673 15.5705 14.2931 16.0352 14.293ZM16.0488 19.2822C15.7229 19.2822 15.4619 19.5433 15.4619 19.8691C15.4622 20.1948 15.7231 20.4551 16.0488 20.4551C16.3744 20.4549 16.6345 20.1947 16.6348 19.8691C16.6348 19.5434 16.3746 19.2824 16.0488 19.2822Z"
        fill="#006DFD"
        stroke="#006DFD"
        stroke-width="0.5"></path>
      <path
        d="M16.2451 1.60889C17.873 1.60889 19.2001 2.93612 19.2002 4.56396V6.89697C19.2002 7.3636 19.0309 7.80412 18.7305 8.14795V9.59131C19.3877 9.94106 20.641 10.6541 21.8154 11.6245H21.8145C22.2714 11.9991 22.5332 12.5539 22.5332 13.1509V14.7583C22.5332 15.2231 22.1532 15.603 21.6885 15.603C21.2238 15.603 20.8438 15.223 20.8438 14.7583V13.1509C20.8438 13.0635 20.8067 12.9825 20.7383 12.9243C19.363 11.787 17.8618 11.0332 17.5732 10.8921L17.5713 10.8911C17.2549 10.7329 17.0411 10.4068 17.041 10.0405V7.77881C17.0412 7.49894 17.1808 7.23932 17.4111 7.08252L17.416 7.07959C17.4758 7.04071 17.5117 6.97577 17.5117 6.90381V4.56396C17.5116 3.86572 16.9434 3.29834 16.2451 3.29834H15.7422C15.0439 3.29834 14.4757 3.86572 14.4756 4.56396V6.90381C14.4757 6.97531 14.5112 7.03965 14.5703 7.07861L14.6553 7.14111C14.8419 7.29951 14.9462 7.53767 14.9463 7.77881V10.0405C14.9462 10.4068 14.7324 10.7329 14.416 10.8911C14.1316 11.0333 12.63 11.7876 11.248 12.9253C11.1803 12.9834 11.1436 13.064 11.1436 13.1509V14.7583C11.1435 15.223 10.7636 15.603 10.2988 15.603C9.8332 15.603 9.46344 15.2298 9.4541 14.77V13.1577L9.46582 12.938C9.52202 12.43 9.7725 11.9585 10.1729 11.6304C11.3527 10.6606 12.6 9.94808 13.2568 9.59814V8.15381C12.9567 7.81009 12.7872 7.37019 12.7871 6.90381V4.56396C12.7872 2.92919 14.1147 1.60889 15.7422 1.60889H16.2451Z"
        fill="#006DFD"
        stroke="#006DFD"
        stroke-width="0.5"></path>
      <path
        d="M25.9619 16.3901C27.5898 16.3901 28.9169 17.7174 28.917 19.3452V21.6851C28.9169 22.1514 28.7474 22.5913 28.4473 22.9351V24.3794C29.104 24.7293 30.3506 25.4421 31.5303 26.4116C31.9873 26.7862 32.25 27.3419 32.25 27.939V29.5464C32.2498 30.011 31.8699 30.3911 31.4053 30.3911C30.9406 30.3911 30.5608 30.011 30.5605 29.5464V27.939C30.5605 27.8517 30.5234 27.7706 30.4551 27.7124C29.4236 26.8593 28.3213 26.2219 27.7129 25.897L27.29 25.6802C26.962 25.5205 26.7578 25.1907 26.7578 24.8276V22.5669C26.7579 22.287 26.8976 22.0275 27.1279 21.8706L27.1328 21.8677C27.1927 21.8288 27.2285 21.763 27.2285 21.6909V19.3521C27.2285 18.6537 26.6603 18.0864 25.9619 18.0864H25.459C24.7606 18.0864 24.1924 18.6537 24.1924 19.3521V21.6909C24.1924 21.7626 24.2279 21.8277 24.2871 21.8667L24.3721 21.9292C24.5587 22.0877 24.663 22.3257 24.6631 22.5669V24.8276C24.6631 25.1902 24.459 25.5182 24.1318 25.6782L24.1328 25.6792C23.8481 25.8216 22.3466 26.5758 20.9648 27.7134C20.8972 27.7715 20.8604 27.8521 20.8604 27.939V29.5464C20.8601 30.011 20.4803 30.3911 20.0156 30.3911C19.551 30.3911 19.1711 30.011 19.1709 29.5464V27.939C19.1709 27.349 19.4322 26.7866 19.8896 26.4116C21.0695 25.4419 22.3168 24.7293 22.9736 24.3794V22.9351C22.6735 22.5913 22.504 22.1514 22.5039 21.6851V19.3452C22.504 17.7174 23.8311 16.3901 25.459 16.3901H25.9619Z"
        fill="#006DFD"
        stroke="#006DFD"
        stroke-width="0.5"></path>
      <path
        d="M6.54102 16.3843C8.16889 16.3843 9.49596 17.7115 9.49609 19.3394V21.6792C9.49605 22.1456 9.32653 22.5855 9.02637 22.9292V24.3735C9.68307 24.7234 10.9297 25.4363 12.1094 26.4058C12.5664 26.7804 12.8291 27.3361 12.8291 27.9331V29.5405C12.8289 30.0052 12.449 30.3853 11.9844 30.3853C11.5198 30.3852 11.1399 30.0051 11.1396 29.5405V27.9331C11.1396 27.8458 11.1025 27.7647 11.0342 27.7065C10.0027 26.8535 8.90038 26.216 8.29199 25.8911L7.86914 25.6743C7.54106 25.5146 7.33691 25.1849 7.33691 24.8218V22.561C7.33696 22.2811 7.4767 22.0216 7.70703 21.8647L7.71191 21.8618C7.77179 21.8229 7.80762 21.7571 7.80762 21.6851V19.3462C7.80762 18.6478 7.23938 18.0806 6.54102 18.0806H6.03809C5.33973 18.0806 4.77148 18.6478 4.77148 19.3462V21.6851C4.77148 21.7567 4.80698 21.8218 4.86621 21.8608L4.95117 21.9233C5.13779 22.0818 5.24215 22.3199 5.24219 22.561V24.8218C5.24219 25.1843 5.03812 25.5124 4.71094 25.6724L4.71191 25.6733C4.42716 25.8157 2.92573 26.57 1.54395 27.7075C1.47628 27.7656 1.43945 27.8463 1.43945 27.9331V29.5405C1.43924 30.0051 1.05936 30.3852 0.594727 30.3853C0.131848 30.3853 -0.24979 30.0135 -0.25 29.5405V27.9331C-0.25 27.3431 0.0113237 26.7807 0.46875 26.4058C1.64858 25.436 2.89591 24.7235 3.55273 24.3735V22.9292C3.25258 22.5855 3.08306 22.1456 3.08301 21.6792V19.3394C3.08314 17.7115 4.41021 16.3843 6.03809 16.3843H6.54102Z"
        fill="#006DFD"
        stroke="#006DFD"
        stroke-width="0.5"></path>
    </g>
    <defs>
      <clipPath id="clip0_4032_303">
        <rect width="32" height="32" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <p class="text-n-800 text-2xl font-bold">Synergy at the Core</p>

  <ul class="flex flex-col gap-2 pl-4">
    {
      [1, 2, 3].map((point) => (
        <li class="flex items-center gap-2">
          <span class="mt-1 size-1 flex-shrink-0 rounded-full bg-blue-500 md:size-2" />
          <span class="text-n-700 text-lg">Empower individuals</span>
        </li>
      ))
    }
  </ul>
</div>
