---

---

<!-- Hamburger component -->
<button
  id="open-mobile-menu-button"
  aria-label="Open menu button"
  class="flex w-7 cursor-pointer flex-col gap-2 justify-self-end lg:hidden"
>
  <span class="bg-n-950 block h-0.5 w-full"></span>
  <span class="bg-n-950 block h-0.5 w-full"></span>
</button>
