---

---

<!-- Hamburger component -->
<div
  class="flex lg:hidden w-7 flex-col gap-2 cursor-pointer flex-1 justify-self-end"
>
  <span class="h-0.5 bg-n-950"></span>
  <span class="h-0.5 bg-n-950"></span>
</div>
