---

---

<!-- Hamburger component -->
<button
  id="open-mobile-menu"
  aria-label="Open menu"
  class="flex w-7 cursor-pointer flex-col gap-2 justify-self-end lg:hidden"
>
  <span class="bg-n-950 h-0.5"></span>
  <span class="bg-n-950 h-0.5"></span>
</button>
