---
import Button from "./Button.astro";

// Props
interface Props {
  navItems: { name: string; href: string; active?: boolean }[];
}

const { navItems } = Astro.props;
---

<nav class="hidden items-center justify-end lg:flex lg:gap-10 xl:gap-18">
  <!-- Pages Links -->
  <ul class="flex items-center text-base font-medium lg:gap-6 xl:gap-14">
    {
      navItems.map((navItem) => (
        <li>
          <a
            href={navItem.href}
            class={`relative transition-colors duration-200 ${
              navItem.active
                ? "font-semibold"
                : "text-n-700 hover:text-blue-950"
            }`}
          >
            <p class="relative">
              {navItem.name}
              {navItem.active && (
                <span class="absolute -right-3 bottom-[6px] size-1.5 rounded-full bg-blue-500" />
              )}
            </p>
          </a>
        </li>
      ))
    }
  </ul>

  <!-- Button Component -->
  <a href="/contact-us">
    <Button text="Contact Us" variant="solid" showRightDot />
  </a>
</nav>
