---
const { title, highlightedText, description } = Astro.props;
---

{(title || highlightedText || description) && (
  <div class="flex flex-col">
    {title && (
      <p class="text-n-950 text-lg font-bold md:mb-1 md:text-3xl">
        {title}
      </p>
    )}

    {highlightedText && (
      <p class="text-3xl font-bold text-blue-500 md:text-6xl">
        {highlightedText}
      </p>
    )}

    {description && (
      <p class="text-n-700 mt-2 w-[70%] max-w-3xl text-base md:mt-3 md:text-xl lg:mt-5 lg:w-[40%]">
        {description}
      </p>
    )}
  </div>
)}
