---
interface Props {
  icon: string;
  title: string;
  alt?: string;
  color: string;
}

const { icon, title, alt = title, color } = Astro.props;
---

<div class=`flex w-full h-full flex-col gap-4 rounded-3xl ${color} p-10`>
  <!-- Card icon -->
  <img src={icon} alt={alt} class="size-8 md:size-11" />
  <!-- Card Title -->
  <p class="text-lg font-semibold md:text-2xl">{title}</p>
</div>
