---
import Profile from "./Profile.astro";

// Props from parent
const { text, employee } = Astro.props;
---

<div
  class="bg-n-100 flex h-full flex-col justify-between gap-9 rounded-3xl px-8 py-10"
>
  <!-- Text  -->
  <p class="text-n-700 text-sm font-normal md:text-base">{text}</p>
  <!-- Profile card component  -->
  <Profile
    image={employee.image}
    name={employee.name}
    designation={employee.designation}
  />
</div>
