---

---

<section class="w-full h-[60vh] xl:h-[calc(100vh-90px)] flex flex-col">
  <div class="container mx-auto flex px-6 relative items-center flex-1">
    <!-- Text content wrapper -->
    <div class="flex flex-col w-full gap-10 lg:gap-16">
      <div
        class="relative sm:w-full text-3xl sm:text-4xl md:text-5xl xl:text-8xl font-bold text-n-900 sm:leading-normal"
      >
        <!-- Section main title -->
        <p class="hidden sm:block">Full–time remote teams,</p>
        <p class="hidden sm:block sm:text-right">tailored to your brand.</p>
        <p class="w-[90%] sm:hidden">
          Full–time remote teams,tailored to your brand.
        </p>

        <!-- Floating arrow icon -->
        <img
          src="/icons/arrow.svg"
          alt=""
          class="h-10 md:h-13 lg:h-24 absolute right-[45%] -bottom-10 md:-bottom-12 lg:-bottom-20 md:right-[10%]"
        />
      </div>

      <!-- Subtitle -->
      <p
        class="text-right pr-[24%] md:pr-[16%] lg:pr-[14%] text-n-500 font-medium text-sm sm:text-xl md:text-2xl lg:text-5xl"
      >
        at a fraction of the cost
      </p>
    </div>
  </div>
  <!-- Scroll to explore text bar -->
  <div
    class="flex items-center h-[80px] justify-between w-full px-3 sm:px-12 text-xs md:text-sm lg:text-base font-normal"
  >
    <span class="">+</span>
    <span class="">+</span>
    <span class="">+</span>
    <!-- Text -->
    <p class="tracking-widest text-n-800">SCROLL TO EXPLORE</p>
    <span class="">+</span>
    <span class="">+</span>
    <span class="">+</span>
  </div>
</section>
