---

---

<section class="relative flex h-[55vh] w-full flex-col xl:h-[calc(100vh-95px)]">
  <div class="relative container mx-auto flex flex-1 items-center px-6">
    <!-- Upper Title  -->
    <div
      class="fade-in text-n-950 text-4xl leading-10 font-bold tracking-tight md:w-[65%] md:text-5xl md:leading-14 lg:text-7xl lg:leading-[88px] xl:w-[55%] 2xl:w-[45%]"
    >
      <p>
        End-to-End <span class="text-blue-500">Solutions</span> for<span
          class="text-blue-500"
        >
          Growing Business</span
        >
      </p>
    </div>
  </div>

  <div class="bouncy absolute right-0 bottom-0 hidden sm:block">
    <img src="/icons/service.svg" alt="" />
  </div>

  <!-- Scroll to explore text bar -->
  <div
    class="flex h-[80px] w-full items-center justify-between px-3 text-xs font-normal sm:px-12 md:text-sm lg:text-base"
  >
    <span class="hidden text-xs md:block md:text-3xl">+</span>
    <span class="text-xs md:text-3xl">+</span>
    <span class="text-xs md:text-3xl">+</span>
    <!-- Text -->
    <p class="bouncy-limited text-n-800 tracking-widest">SCROLL TO EXPLORE</p>

    <span class="hidden text-xs md:block md:text-3xl">+</span>
    <span class="text-xs md:text-3xl">+</span>
    <span class="text-xs md:text-3xl">+</span>
  </div>
</section>
