---
import Announcement from "../components/Announcement.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>STYL SMYTH</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="bg-n-50 relative z-1 rounded-br-4xl rounded-bl-4xl">
      <!-- Header -->
      <Header />
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
