---
import Layout from "../../layouts/Layout.astro";
import JobOpenings from "../../sections/career/JobOpenings.astro";
---

<Layout>
  <section>
    <img src="/images/career-hero.png" alt="Career" />
    <img src="/images/career-work-with-us.png" alt="Career" />
    <JobOpenings />
    <img src="/images/career-form.png" alt="Career" />
    <img src="/images/career-faq.png" alt="Career" />
  </section>
</Layout>
