---
import Layout from "../../layouts/Layout.astro";
import ContactForm from "../../sections/Career/ContactForm.astro";
---

<Layout>
  <section>
    <img src="/images/career-hero.png" alt="Career" />
    <img src="/images/career-work-with-us.png" alt="Career" />
    <img src="/images/career-open-roles.png" alt="Career" />
    <ContactForm />
    <img src="/images/career-faq.png" alt="Career" />
  </section>
</Layout>
